<mat-card>
    <form class="add-edit-form" [formGroup]="student" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
            <mat-label>name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>gender</mat-label>
            <input matInput type="text" formControlName="gender">
        </mat-form-field>
        <mat-form-field>
            <mat-label>phone no</mat-label>
            <input matInput type="number" formControlName="phoneno">
        </mat-form-field>
        <mat-form-field>
            <mat-label>age</mat-label>
            <input matInput type="number" formControlName="age">
        </mat-form-field>
        <mat-form-field>
            <mat-label>class</mat-label>
            <input matInput type="text" formControlName="class">
        </mat-form-field>
        <mat-form-field>
            <mat-label>type</mat-label>
            <input matInput type="text" formControlName="type">
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="10px">
            <button mat-raised-button (click)="closeDialog()">Cancel</button>
            <div *ngIf="editMode;else elsePart">
                <button mat-raised-button [disabled]="!student.valid" (click)="editStudent()">Save</button>
            </div>
            <ng-template #elsePart>
                <button mat-raised-button [disabled]="!student.valid" (click)="addStudent()">Add</button>
            </ng-template>
        </div>
    </form>
</mat-card>